{% extends 'base_with_nav.html.twig' %}

{% block page_title %}Terms of Service{% endblock %}

{% block content %}
<div class="container py-3">
  <h2 class="text-center pt-3 text-info">RabbleHome Terms of Service
</h2>
<h5 class="text-center pb-3">Last updated: October 20, 2020</h5>
<div class="privacy-content">
  <p>These Terms of Service constitute a legally binding agreement (“Agreement”) between you and RabbleHome. (“Company” or “RabbleHome”) governing your use of the RabbleHome Platform (as defined below), Company’s website (RabbleHome.com or the “Site”) or mobile applications. The platform services provided by Company, the Site and mobile applications together are hereinafter collectively referred to as the “RabbleHome Platform.”</p>    

  <p><strong>PLEASE NOTE:</strong> THIS AGREEMENT CONTAINS A BINDING AND FINAL ARBITRATION PROVISION AND CLASS ACTION WAIVER (SECTION 20). PLEASE READ CAREFULLY, INCLUDING YOUR RIGHT, IF APPLICABLE, TO OPT OUT OF ARBITRATION. BY ENTERING INTO THIS AGREEMENT, YOU EXPRESSLY ACKNOWLEDGE THAT YOU UNDERSTAND THIS AGREEMENT (INCLUDING THE DISPUTE RESOLUTION AND ARBITRATION PROVISIONS IN SECTION 20) AND ACCEPT ALL OF ITS TERMS. IF YOU DO NOT AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU MAY NOT USE OR ACCESS THE RABBLEHOME PLATFORM</p>  

  <p>Your use of the RabbleHome Platform constitutes your acceptance of and agreement to all of the terms and conditions in these Terms of Service, the Privacy Policy (the “Privacy Policy”) available here, and any future amendments and additions to this Agreement (as defined below) as we may publish from time to time. The Privacy Policy is incorporated by reference into these Terms of Service and together form and are hereinafter referred to as this “Agreement”.</p>

  <h5>A few highlights of these Terms of Service include:</h5>
  <ul>
    <li>
        <p>Your agreement that the RabbleHome Platform is provided “as is” and without warranty (Section 17).
  
  </p>
  </li>
    <li>
        <p>Your agreement that Company has no liability regarding the RabbleHome Platform (Section 18).</p>
    </li>
    <li>
        <p>Your acknowledgment and agreement that Company does not supervise, direct or control a Service Provider’s work or the Service in any manner (Section 1).</p>
    </li>
    <li>
        <p>Your acknowledgement and agreement that Clients (as defined below) are responsible for determining if the Service provider they hire is qualified to perform the service at hand. You further acknowledge and agree that except in select cities as outlined in Section 25 below, RabbleHome does not determine whether any particular Service provider holds a license, certification, accreditation or insurance.</p>
    </li>
    <li>
        <p>Your agreement that Company has no liability regarding the performance of Services. Notwithstanding that, Company provides Users the Satisfaction Guarantee (Section 13) to ensure your satisfaction with the RabbleHome Platform, which provides protection for Company’s Users.</p>
    </li>
    <li>
        <p>Your consent to release Company from liability based on claims between Users (Section 2) and generally (Section 18).</p>
    </li>
    <li>
        <p>Your agreement to indemnify Company from claims due to your use or inability to use the RabbleHome Platform or content submitted from your account to the RabbleHome Platform (Section 19).</p>
    </li>
    <li>
        <p>Your consent to submit any claims against Company to binding arbitration on an individual basis only (Section 20).</p>
    </li>
  </ul>
</div>
<div class="privacy-content">
  <h5>1. RabbleHome Platform Connects Service providers and Clients</h5>
  <p>The RabbleHome Platform is a web-based communications platform which enables the connection between Clients and Service providers. “Clients” are individuals and/or businesses seeking to obtain home or commercial real estate related services (“Services”) from Service providers and are therefore clients of Service providers, and “Service providers” are individuals and/or businesses seeking to perform Services for Clients. Clients and Service providers together are hereinafter referred to as “Users.” If you agree on the terms of a Service with another User, you and such other User form a Service Agreement directly between the two of you as set forth in more detail in Section 3 below.</p>

  <p>SERVICE PROVIDERS ARE INDEPENDENT CONTRACTORS AND NOT EMPLOYEES OF COMPANY. COMPANY DOES NOT PERFORM SERVICES AND DOES NOT EMPLOY INDIVIDUALS TO PERFORM SERVICES. USERS HEREBY ACKNOWLEDGE THAT COMPANY DOES NOT SUPERVISE, DIRECT, CONTROL OR MONITOR A SERVICE PROVIDER’S WORK AND IS NOT RESPONSIBLE FOR THE WORK PERFORMED OR THE SERVICES IN ANY MANNER.
  </p>
  <p>The RabbleHome Platform only enables connections between Users for the fulfillment of Services. Company is not responsible for the performance of Users, nor does it have control over the quality, timing, legality, failure to provide, or any other aspect whatsoever of Services, Service providers, Clients, nor of the integrity, responsibility, qualifications or any of the actions or omissions whatsoever of any Users. Company makes no representations about the suitability, reliability, timeliness, or accuracy of the Services requested and services provided by Users identified through the RabbleHome Platform whether in public, private, or offline interactions.
  </p>
</div>
<div class="privacy-content">
<h5>2. User Vetting and User Representation and Warranties</h5>
<ul>
  <li>
    <h6>User Vetting</h6>
    <p>     
      In Company’s sole discretion, Users may be subject to an extensive vetting process before they can register for and during their use of the RabbleHome Platform, including but not limited to a verification of identity and a comprehensive criminal background check, at the Country, State and local level, using third party services as appropriate. Users hereby give consent to Company to conduct background checks as often as required in compliance with federal and state laws, including, without limitation, the Fair Credit Reporting Act.
      </p>
      <p>
      Although Company may perform background checks of Users, as outlined above, Company is not required to do so and cannot confirm that each User is who they claim to be and therefore, Company cannot and does not assume any responsibility for the accuracy or reliability of identity or background check information or any information provided through the RabbleHome Platform.
      </p>
      <p>
      When interacting with other Users, you should exercise caution and common sense to protect your personal safety and property, just as you would when interacting with other persons whom you don’t know. NEITHER COMPANY NOR ITS AFFILIATES OR LICENSORS IS RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR OFFLINE, OF ANY USER OF THE RABBLEHOME PLATFORM AND YOU HEREBY RELEASE COMPANY AND ITS AFFILIATES OR LICENSORS FROM ANY LIABILITY RELATED THERETO. COMPANY AND ITS AFFILIATES AND LICENSORS WILL NOT BE LIABLE FOR ANY CLAIM, INJURY OR DAMAGE ARISING IN CONNECTION WITH YOUR USE OF THE RABBLEHOME PLATFORM.
      </p>
      <p>
      Company’s sole liability with respect to Services and Users is as set forth in the RabbleHome Satisfaction Guarantee described in Section 13.

    </p>
  </li>
  <li>
    <h6>User Representations and Warranties</h6>
    <p>
      You represent and warrant that that: (1) you are 21 years of age or older and are at least of the legally required age in the jurisdiction in which you reside, and are otherwise capable of entering into binding contracts, and (2) you have the right, authority and capacity to enter into this Agreement and to abide by the terms and conditions of this Agreement, and that you will so abide. Where you enter into this Agreement on behalf of a company or other organization, you represent and warrant that you have authority to act on behalf of that entity and to bind that entity to this Agreement. You represent and warrant that you have read, understand and are required to agree to and accept be bound by these Terms of Service and, the Privacy Policy in order to access and use the RabbleHome Platform. You hereby warrant and represent that you will respect the privacy (including without limitation private, family and home life), property and data protection rights of Users and that you will not record (whether video or audio or otherwise) any Service or any interaction by or with any User and/or Company in connection with RabbleHome Platform without the prior written consent of any relevant User. You further represent and warrant that you will fulfill the commitments you make to other Users including paying/receiving payment through the RabbleHome Platform, communicating clearly and promptly through the chat thread and/or respond to invitations promptly, being present and/or available at the time you agree upon with your Service provider or Client as the case may be and only utilizing the third party payment processing system specified or approved by us to make or receive payment for services provided through the RabbleHome Platform. You also represent and warrant that you will act professionally and responsibly in your interactions with other Users. Service providers additionally represent and warrant that you will provide timely, high quality services to your Clients, you will only offer and provide services for which you have the necessary skills and expertise and you will provide the services safely. Service providers who request to be identified on the RabbleHome Platform as a Licensed Service provider additionally represent and warrant that they hold all licenses and certification necessary to perform the Services for which they are hired, are active and in good standing with the applicable licensing authorities, do not have any outstanding or unresolved disciplinary actions against them by the relevant licensing board, hold the requisite insurance and acknowledge that their insurance shall be primary for all Services performed. Service providers who are identified on the RabbleHome Platform as a Licensed Service provider also acknowledge they will personally perform the Service for which they are hired or, with their Client’s permission, will only send other Licensed Service providers in their employ who (i) hold the requisite license, (ii) are covered by the requisite insurance and (iii) are registered as a Service provider and identified as a Licensed Service provider on the RabbleHome Platform.
    </p>
  </li>
  <li>
    <h6>Contract between Clients and Service providers</h6>
    <p>
      You acknowledge and agree that a contract (the “Service Agreement”) is formed when you agree on the terms of a Service with another User. The terms of the Service Agreement include the terms set forth in this Section 3, the engagement terms proposed and accepted on the RabbleHome Platform, and any other contractual terms accepted by both the Service provider and their Client to the extent such terms do not conflict with the terms in this Agreement including this Section 3 and do not expand Company’s obligations or restrict Company’s rights under this Agreement. You agree that Company is not a party to any Service Agreement and the formation of a Service Agreement will not, under any circumstance, create an employment or other service relationship between Company and the Service provider.
    </p>
    <p>
      Where approved in advance by the Client, the Service provider is not obligated to personally perform the Services. Before any Service services are performed by any assistants, helpers, subcontractors or other personnel (collectively “Assistants”) engaged by the Service provider, the Service provider shall require any such individuals to become registered Service providers on the RabbleHome Platform pursuant to Company policies as described on the RabbleHome Platform. A Service provider’s failure to bring an Assistant who is not a registered Service provider could lead to removal from the RabbleHome Platform. The Service provider assumes full and sole responsibility for the payment of all compensation, benefits and expenses of Assistants, if any, and for all required and applicable state and federal income tax withholdings as to the Service provider and all persons engaged by the Service provider in the performance of the Service services.
    </p>
    <p>
      The Client shall pay for their Service provider for completed Service services through the RabbleHome platform (as defined below) as indicated on the RabbleHome Platform at the rates agreed to by the parties in the Service Agreement. Each party agrees to comply with this Agreement during the engagement, performance and completion of a Service. Both parties agree to notify Company of any disputes prior to negotiation of or filing of any claims and to negotiate any dispute informally via Company representatives for at least thirty (30) days before initiating any proceeding between the parties.
    </p>
    <p>
      Clients and service providers will act in accordance with any state, federal, and local  laws. Failure to comply with any laws or regulations may result in the termination of the contract without reimbursement. Additionally, both service providers and clients should act in a professional manner and failure to do so could result in the termination of the contract without reimbursement. For disputes on professional behavior, see section 20 (Dispute Resolution). 
    </p>
  </li>
</ul>
</div>
<div class="privacy-content">
  <h5>3. Billing and Payment</h5>
  <p>Users of the RabbleHome Platform contract for Services directly with other Users. Company will not be a party to any contracts for Services. Payment for services through the RabbleHome Platform is made from the Client to the RabbleHome Platform who then pays the Service provider. 
  </p>

  <p>Users of the RabbleHome Platform will be required to provide their credit card and/or bank account details to Company and the Payment Service Provider retained by Company (the “PSP”). Users and responsible for confirming services provided are satisfactory before final payments released. Clients will be responsible for paying the invoice for each Service (the “Invoice”), which will include (i) the pricing terms of the Service agreed with and provided by a Service provider (“Service Payment”), (ii) any out of pocket expenses agreed with and submitted by a Service provider in connection with the Service, (iii) any tip or gratuity, if applicable, (iv) the service charge Company assesses for the RabbleHome Platform, variable based on the Service Payment amount, and (v) the platform fee (sometimes referred to as Trust & Support Fee), which is used to offset Company's cost of providing Users with customer support, value for the marketplace consolidation, and other various business objectives, and (vi) cancellation fees, if applicable. Service providers will be responsible for paying (i) registration fees (if applicable), (ii) cancellation fees, if applicable and (iii) repayment of erroneous payments. Clients may also be charged credit card processing fees equal to three percent (3%) of the aggregate expense amount if expenses related to a Service individually, or Services in the aggregate over a 30-day period, exceed $300.00.</p>

  <p>Service providers may be required to register with the PSP, agree to Terms of Service of the PSP and go through a vetting process at the request of the PSP to set up their account with the PSP. Terms of Service between Service providers and the PSP retained by Company are available here (the “PSP Agreement”). By accepting these Terms of Use, each Service provider agrees that they have downloaded or printed, and reviewed and agreed to the PSP Agreement. Please note that Company is not a party to the PSP Agreement and that you, the PSP and any other parties listed in the PSP Agreement (currently, Stripe) are the parties to the PSP Agreement and that Company has no obligations or liability to any Service provider under the PSP Agreement.</p>

  <p>To help prevent fraud and safeguard User information from the risk of unauthorized access, Company and/or the PSP may validate an account before activation. As part of the account validation, a very temporary charge is placed on account associated with the User and then refunded within 1-3 business days. Due to the difference in PSP and credit card issuer requirements, this temporary charge may vary between $0.01 US to $5000.00 US depending on the estimated value of the service and reimbursements.</p>

  <p>When Client receives confirmation through the RabbleHome Platform or via email that a Service has been completed, Client automatically authorizes Company to provide Client's payment details to the PSP for processing of Service Payment, out of pocket expenses owed to Service provider, and the service charge and trust and support fees owed to Company for the use of the RabbleHome Platform. You may be charged a cancellation fee through the PSP if you book a Service, but cancel it before it is completed, as set forth in the Service pricing terms or if you agree to perform a Service but fail to complete it, as may be set forth in the Service pricing terms.</p>

  <p>Company reserves the right, in its sole discretion (but not the obligation), upon request from Client or Service provider or upon notice of any potential fraud, unauthorized charges or other misuse of the RabbleHome Platform, to (i) place on hold any Service Payment and out of pocket expenses, or (ii) refund, provide credits or arrange for the PSP to do so.
  </p>

  <p>Service Payment and fees must be paid through the PSP as indicated on the RabbleHome Platform. Clients may pay using a Gift Card (see Section 5).
  </p>
  <p>Users of the RabbleHome Platform will be liable for any taxes (including VAT, if applicable) required to be paid on the Service(s) provided under the Agreement (other than taxes on Company’s income).
  </p>
</div>
<div class="privacy-content">
  <h5 >4. Release</h5>
  <p>The RabbleHome Platform is only a venue for connecting Users. Because Company is not involved in in the completion of the Service, in the event that you have a dispute with one or more Users, you release Company and its affiliates (and their respective officers, directors, agents, investors, subsidiaries, and employees) from any and all claims, demands, or damages (actual or consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.</p>
  <p>COMPANY EXPRESSLY DISCLAIMS ANY LIABILITY THAT MAY ARISE BETWEEN USERS OF ITS RABBLEHOME PLATFORM. Company’s sole liability with respect to disputes between Users is as set forth in the Satisfaction Guarantee described in Section 13</p>
  <p>TO THE EXTENT APPLICABLE, YOU HEREBY WAIVE THE PROTECTIONS OF CALIFORNIA CIVIL CODE § 1542 (AND ANY ANALOGOUS LAW IN ANY OTHER APPLICABLE JURISDICTION) WHICH SAYS: “A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR.”
  </p>
</div>
<div class="privacy-content">
  <h5>5. Public Areas; Acceptable Use</h5>
  <p>The RabbleHome Platform may contain profiles, email systems, blogs, message boards, reviews, ratings, service postings, chat areas, news groups, forums, communities and/or other message or communication facilities (“Public Areas”) that allow Users to communicate with other Users. You may only use such community areas to send and receive messages and material that are relevant and proper to the applicable forum. For the safety and integrity of the RabbleHome Platform, you may not share your personal contact information with other Users.
  </p>

  <p class="font-weight-bold">Without limitation, while using the RabbleHome Platform, you may not:
  </p>
  <ul>
    <li>
      <p>
        Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as, but not limited to, rights of privacy and publicity) of others, including Company staff, or use information learned from the RabbleHome Platform or during the performance of Services to otherwise defame, abuse, harass, stalk, threaten, intimidate or mislead, or otherwise violate the legal rights of any other User or Company staff outside of the RabbleHome Platform.
      </p>
    </li>
    <li>
      <p>
        Publish, post, upload, distribute or disseminate any profane, defamatory, infringing, obscene or unlawful topic, name, material or information on the RabbleHome Platform.
      </p>
    </li>
    <li>
      <p>
        Use the RabbleHome Platform for any purpose, including, but not limited to posting or completing a Service, in violation of local, state, national, or international law.
      </p>
    </li>
    <li>
      <p>
        Upload files that contain software or other material that violates the intellectual property rights (or rights of privacy or publicity) of any third party.
      </p>
    </li>
    <li>
      <p>
        Upload files that contain viruses, Trojan horses, corrupted files, or any other similar software that may damage the operation of another's computer.
      </p>
    </li>
    <li>
      <p>
        Post or upload any content to which you have not obtained any necessary rights or permissions to use accordingly.
      </p>
    </li>
    <li>
      <p>
        Advertise or offer to sell any goods or services for any commercial purpose through the RabbleHome Platform which are not relevant to the Service services offered through the RabbleHome Platform.
      </p>
    </li>
    <li>
      <p>
        Post or complete a Service requiring a User to (i) purchase or obtain gift cards, money orders or high value items (over $300) without notifying Company, (ii) cross state lines during the performance of a Service, (iii) provide ridesharing or other peer to peer transportation services, (iv) post ratings or reviews on any third party website in breach of such third party website’s terms of use, or (v) otherwise engage in activity that is illegal or deemed dangerous, harmful or otherwise inappropriate by Company in its sole discretion.
      </p>
    </li>
    <li>
      <p>
        Conduct or forward surveys, contests, pyramid schemes, or chain letters
      </p>
    </li>
    <li>
      <p>
        Impersonate another person or a User or allow any other person or entity to use your identification to post or view comments.
      </p>
    </li>
    <li>
      <p>
        Post the same Service repeatedly (“Spamming”). Spamming is strictly prohibited.
      </p>
    </li>
    <li>
      <p>
        Download any file posted by another User that a User knows, or reasonably should know, cannot be legally distributed through the RabbleHome Platform.
      </p>
    </li>
    <li>
      <p>
        Restrict or inhibit any other User from using and enjoying the Public Areas.
      </p>
    </li>
    <li>
      <p>
        Imply or state that any statements you make are endorsed by Company, without the prior written consent of Company.
      </p>
    </li>
    <li>
      <p>
        Use a robot, spider, manual and/or automatic processes or devices to data-mine, data-crawl, scrape or index the RabbleHome Platform in any manner.
      </p>
    </li>
    <li>
      <p>
        Hack or interfere with the RabbleHome Platform, its servers or any connected networks.
      </p>
    </li>
    <li>
      <p>
        Adapt, alter, license, sublicense or translate the RabbleHome Platform for your own personal or commercial use.
      </p>
    </li>
    <li>
      <p>
        Remove or alter, visually or otherwise, any copyrights, trademarks or proprietary marks and rights owned by Company.
      </p>
    </li>
    <li>
      <p>
        Upload content to the RabbleHome Platform that is offensive and/or harmful, including, but not limited to, content that advocates, endorses, condones or promotes racism, bigotry, hatred or physical harm of any kind against any individual or group of individuals.
      </p>
    </li>
    <li>
      <p>
         Upload content that provides materials or access to materials that exploit people under the age of 18 in an abusive, violent or sexual manner.   
      </p>
    </li>
    <li>
      <p>
        Use the RabbleHome Platform to solicit for any other business, website or service, or otherwise contact Users for employment, contracting or any purpose not related to use of the RabbleHome Platform as set forth here in.
      </p>
    </li>
    <li>
      <p>
        Use the RabbleHome Platform to collect usernames and or/email addresses of Users by electronic or other means.
      </p>
    </li>
    <li>
      <p>
        Use the RabbleHome Platform or the Service services in violation of this Agreement.
      </p>
    </li>
    <li>
      <p>
        Use the RabbleHome Platform in a manner which is false or misleading (directly or by omission or failure to update information) or for the purpose of accessing or otherwise obtaining Company’s trade secret information for public disclosure or other purposes.
      </p>
    </li>
    <li>
      <p>
        Attempt to circumvent the payments system or service fees in anyway including, but not limited to, processing payments outside of the RabbleHome Platform, including inaccurate information on invoices, or otherwise invoicing in a fraudulent manner;
      </p>
    </li>
    <li>
      <p>
        Register under different usernames or identities, after your account has been suspended or terminated or register under multiple usernames or identities.
      </p>
    </li>
    <li>
      <p>
        Cause any third party to engage in the restricted activities above
      </p>
    </li>
    <li>
      <p>
        You understand that all submissions made to Public Areas will be public and that you will be publicly identified by your name or login identification when communicating in Public Areas, and Company will not be responsible for the action of any Users with respect to any information or materials posted in Public Areas.
      </p>
    </li>
  </ul>
</div>
<div class="privacy-content">
  <h5>6. Termination and Suspension</h5>
  <p>Company may terminate, limit or suspend your right to use the RabbleHome Platform in the event that we believe that you have breached this Agreement (a “User Breach”) by providing you with written or email notice of such User Breach and such termination or suspension, and termination or suspension will be effective immediately upon delivery of such notice.</p>
  <p>If Company terminates, limits, or suspends your right to use the RabbleHome Platform as a Client for a User Breach, you will not be entitled to any refund of unused balance in your account, and you are prohibited from registering and creating a new account under your name, a fake or borrowed name, or the name of any third party, even if you may be acting on behalf of the third party. In addition to terminating, limiting, or suspending your account, Company reserves the right to take appropriate legal action, including without limitation pursuing arbitration, criminal, and injunctive redress in accordance with Section 20.
  </p>
  <p>Even after your right to use the RabbleHome Platform is terminated, limited, or suspended, this Agreement will remain enforceable against you.
  </p>
  <p>Company reserves the right to modify or discontinue, temporarily or permanently, all or any portion of the RabbleHome Platform at its sole discretion. Except for refundable fees you have advanced to Company (if any), Company is not liable to you for any modification or discontinuance of all or any portion of the RabbleHome Platform. Notwithstanding anything to the contrary in this Section 8, Company has the right to restrict anyone from completing registration as a Service provider if Company believes such person may threaten the safety and integrity of the RabbleHome Platform, or if, in Company’s discretion, such restriction is necessary to address any other reasonable business concern.
  </p>
  <p>You may terminate this Agreement at any time by ceasing all use of the RabbleHome Platform. All sections which by their nature should survive the expiration or termination of this Agreement shall continue in full force and effect subsequent to and notwithstanding the expiration or termination of this Agreement.
  </p>
</div>
<div class="privacy-content">
  <h5>7. Account, Password, Security, and Mobile Phone Use, Texts and Calls</h5>
  <p>You must register with Company and create an account to use the RabbleHome Platform. You are the sole authorized user of your account. You are responsible for maintaining the confidentiality of any password and account number provided by you or Company for accessing the RabbleHome Platform. You are solely and fully responsible for all activities that occur under your password or account. Company has no control over the use of any User's account and expressly disclaims any liability derived therefrom. Should you suspect that any unauthorized party may be using your password or account or you suspect any other breach of security, you will contact Company immediately.
  </p>
  <p>By providing your mobile phone number and using the RabbleHome Platform, you hereby affirmatively consent to our use of your mobile phone number for calls and texts (including prerecorded and/or by automatic telephone dialing systems) in order to (a) perform and improve upon the RabbleHome Platform, (b) facilitate the carrying out of services through the RabbleHome Platform, (c) provide you with information and reminders regarding your registration, orientation, upcoming Services, product alterations, changes and updates, service outages or alterations. These calls and texts may include, among other things, reminders about uncompleted or upcoming services and/or in follow up to any push notifications delivered through our mobile application. Company will not assess any charges for calls or texts, but standard message charges or other charges from your wireless carrier may apply. You may opt-out of receiving texts messages from us by modifying your account settings on the Site or Company’s mobile application, texting “STOP” in response to any texts, or by emailing  info@RabbleHome.com and specifying you want to out-out of texts. You may opt-out of receiving calls from us by stating that you no longer wish to receive calls during any call with us, or by emailing info@RabbleHome.com and specifying you want to opt-out of calls. You understand that we may send you a text confirming any opt-out by you.
  </p>
</div>
<div class="privacy-content">
  <h5>8. Your Information and Likeness</h5>
  <p>“Your Information” is defined as any information and materials you provide to Company or other Users in connection with your registration for and use of the RabbleHome Platform, including without limitation that posted or transmitted for use in Public Areas. You are solely responsible for Your Information, and we act merely as a passive conduit for your online distribution and publication of Your Information. The information and materials described in this Section, as provided by each User, is collectively referred to herein as “User Generated Content.”
  </p>
  <p>You hereby represent and warrant to Company that Your Information (a) will not be false, inaccurate, incomplete or misleading; (b) will not be fraudulent or involve the sale of counterfeit or stolen items; (c) will not infringe any third party's copyright, patent, trademark, trade secret or other proprietary right or rights of publicity or privacy; (d) will not violate any law, statute, ordinance, or regulation (including without limitation those governing export control, consumer protection, unfair competition, anti-discrimination or false advertising); (e) will not be defamatory, libelous, unlawfully threatening, or unlawfully harassing; (f) will not be obscene or contain child pornography or be harmful to minors; (g) will not contain any viruses, Trojan Horses, worms, time bombs, cancelbots or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information; and (h) will not create liability for Company or cause Company to lose (in whole or in part) the services of its ISPs or other partners or suppliers.
  </p>
  <p>The RabbleHome Platform hosts User Generated Content relating to reviews and ratings of specific Service providers (“Feedback”). Such Feedback is such User’s opinion and not the opinion of Company, has not been verified or approved by Company and each Client should undertake their own research to be satisfied that a specific Service provider is the right person for a Service. You agree that Company is not liable for any Feedback or other User Generated Content. Company encourages each User to give objective, constructive and honest Feedback about the other Users with whom they have transacted. Company does not investigate any remarks posted by Users for accuracy or reliability but may do so if a User requests that Company do so.
  </p>
  <p>You hereby grant Company a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sublicensable (through multiple tiers) right to exercise all copyright, publicity rights, and any other rights you have in Your Information, in any media now known or not currently known in order to perform and improve upon the RabbleHome Platform.
  </p>
  <p>Each Service provider who provides to Company any videotape, film, record, photograph, voice, or all related instrumental, musical, or other sound effects, in exchange for the right to use the RabbleHome Platform, hereby irrevocably grants to Company the non-exclusive, fully-paid, royalty-free, transferable, sublicensable, worldwide, unrestricted, and perpetual right to:
  </p>
  <ul>
    <li>
      <p>
        Use any videotape, film, record or photograph that such Service provider provides to Company or that Company takes of Service provider, and use, reproduce, modify, or creative derivatives of such Service provider picture, silhouette and other reproductions of their physical likeness (as the same may appear in any still camera photograph and/or motion picture film or video) (collectively the “Physical Likeness”), in and in connection with the exhibition, distribution, display, performance, transmission, broadcasting on any and all media, including, without limitation, the internet, of any videos or images of such Service provider in connection with the RabbleHome Platform.
      </p>
    </li>
    <li>
      <p>
        Reproduce in all media any recordings of such Service provider’s voice, and all related instrumental, musical, or other sound effects (collectively, the “Voice”), made in connection with the RabbleHome Platform.
      </p>
    </li>
    <li>
      <p>
        Use, and permit to be used, such Service provider’s Physical Likeness and Voice in the advertising, marketing, and/or publicizing of the RabbleHome Platform in any media.
      </p>
    </li>
    <li>
      <p>
        Use, and permit to be used, such Service provider’s name and identity in connection with the RabbleHome Platform.
      </p>
    </li>
    <li>
      <p>
        Each Service provider hereby waives all rights and releases Company from, and shall neither sue nor bring any proceeding against any such parties for, any claim or cause of action, whether now known or unknown, for defamation, invasion of right to privacy, publicity or personality or any similar matter, or based upon or relating to the use and exploitation of such Service provider’s identity, likeness or voice in connection with the RabbleHome Platform.
      </p>
    </li>
    <li>
      <p>
        Each Service provider acknowledges that Company shall not owe any financial or other remuneration for using the recordings provided hereunder by such Service provider, either for initial or subsequent transmission or playback, and further acknowledges that Company is not responsible for any expense or liability incurred as a result of such Service provider’s recordings or participation in any recordings, including any loss of such recording data.
      </p>
    </li>
  </ul>
</div>
<div class="privacy-content">
  <h5>9. Links to Other Websites</h5>
  <p>The RabbleHome Platform may contain links (such as hyperlinks) to third-party websites. Such links do not constitute the endorsement by Company of those sites or their content. They are provided as an information service, for reference and convenience only. Company does not control any such sites, and is not responsible for their (1) availability or accuracy, or (2) content, advertising, or products or services. The existence of links on the RabbleHome Platform to such websites (including without limitation external websites that are framed by the RabbleHome Platform as well as any advertisements displayed in connection therewith) does not mean that Company endorses any of the material on such websites, or has any association with their operators. It is your responsibility to evaluate the content and usefulness of the information obtained from other sites.
  </p>
  <p>The use of any website controlled, owned or operated by third parties is governed by the terms and conditions of use and privacy policies for those websites, and not by Company's Terms of Service or Privacy Policy. You access such third-party websites at your own risk. Company expressly disclaims any liability arising in connection with your use and/or viewing of any websites or other material associated with links that may appear on the RabbleHome Platform. You hereby agree to hold Company harmless from any liability that may result from the use of links that may appear on the RabbleHome Platform.
  </p>
  <p>As part of the functionality of the RabbleHome Platform, you may link your account with online accounts you may have with third party service providers (such as Facebook) (each such account, a “Third Party Account”) by either: (i) providing your Third Party Account login information through the RabbleHome Platform; or (ii) allowing Company to access your Third Party Account, as is permitted under the applicable terms and conditions that govern your use of each Third Party Account. You represent that you are entitled to disclose your Third Party Account login information to Company and/or grant Company access to your Third Party Account (including, but not limited to, for use for the purposes described herein), without breach by you of any of the terms and conditions that govern your use of the applicable Third Party Account and without obligating Company to pay any fees or making Company subject to any usage limitations imposed by such third party service providers. By granting Company access to any Third Party Accounts, you understand that (i) Company may access, make available and store (if applicable) any content that you have provided to and stored in your Third Party Account (the “SNS Content”) so that it is available on and through the RabbleHome Platform via your account, including without limitation any friend lists, and (ii) Company may submit and receive additional information to your Third Party Account to the extent you are notified when you link your account with the Third Party Account. Unless otherwise specified in these Terms of Service, all SNS Content, if any, shall be considered to be User Generated Content for all purposes of these Terms of Service. Depending on the Third Party Accounts you choose and subject to the privacy settings that you have set in such Third Party Accounts, personally identifiable information that you post to your Third Party Accounts may be available on and through your account on the RabbleHome Platform. Please note that if a Third Party Account or associated service becomes unavailable or Company’s access to such Third Party Account is terminated by the third party service provider, then SNS Content may no longer be available on and through the RabbleHome Platform. You will have the ability to disable the connection between your account on the RabbleHome Platform and your Third Party Accounts at any time. PLEASE NOTE THAT YOUR RELATIONSHIP WITH THE THIRD PARTY SERVICE PROVIDERS ASSOCIATED WITH YOUR THIRD PARTY ACCOUNTS IS GOVERNED SOLELY BY YOUR AGREEMENT(S) WITH SUCH THIRD PARTY SERVICE PROVIDERS. Company makes no effort to review any SNS Content for any purpose, including but not limited to, for accuracy, legality or non-infringement, and Company is not responsible for any SNS Content. You acknowledge and agree that Company may access your e-mail address book associated with a Third Party Account and your contacts list stored on your mobile device or tablet computer solely for the purposes of identifying and informing you of those contacts who have also registered to use the RabbleHome Platform. At your request made via e-mail to <a href="mailto:info@RabbleHome.com">info@RabbleHome.com</a>info@RabbleHome.com, Company will deactivate the connection between the RabbleHome Platform and your Third Party Account and delete any information stored on Company’s servers that was obtained through such Third Party Account, except the username and profile picture that become associated with your account.
  </p>
</div>
<div class="privacy-content">
  <h5>10. Worker Classification and Withholdings</h5>
  <p>AS SET FORTH IN SECTION 1, COMPANY DOES NOT PERFORM SERVICES AND DOES NOT EMPLOY INDIVIDUALS TO PERFORM SERVICES. Each User assumes all liability for proper classification of such User’s workers based on applicable legal guidelines.
  </p>
  <p>Users do not have authority to enter into written or oral — whether implied or express — contracts on behalf of Company. Each User acknowledges that Company does not, in any way, supervise, direct, control or monitor a Service provider’s work or Services performed in any manner. Company does not set a Service provider’s work hours or location of work. Company will not provide any equipment, labor or materials needed for a particular Service. Company does not provide any supervision to Users.
  </p>
  <p>The RabbleHome Platform is not an employment service and Company is not an employer of any User. As such, Company is not responsible for and will not be liable for any tax payments or withholding, including but not limited to unemployment insurance, social security, disability insurance or any other applicable federal or state withholdings in connection with your use of Users’ Service services.
  </p>
</div>
<div class="privacy-content">
  <h5>11. RabbleHome Satisfaction Guarantee</h5>
  <p>The RabbleHome Satisfaction Guarantee is part of these Terms of Services and incorporated by reference. Service providers determine what categories they are qualified to service in and scope the service directly with their Client. RabbleHome does not oversee, monitor or direct how a Service provider performs a service and does not monitor services or chat threads between Users. Clients are advised to confirm with their Service provider that their Service provider is qualified to perform the service prior to the service taking place. Accordingly, Company is not liable for the acts or omissions of Users and the RabbleHome Satisfaction Guarantee in no way contradicts that premise. That said, RabbleHome wants Users to be happy about their experience using the RabbleHome Platform and the Satisfaction Guarantee is in place to encourage continued use of the RabbleHome Platform.
  </p>
</div>
<div class="privacy-content">
  <h5>12. Intellectual Property Rights</h5>
  <p>All text, graphics, editorial content, data, formatting, graphs, designs, HTML, look and feel, photographs, music, sounds, images, software, videos, designs, typefaces and other content (collectively “Proprietary Material”) that Users see or read through the RabbleHome Platform is owned by Company, excluding User Generated Content that Company has the right to use. Proprietary Material is protected in all forms, media and technologies now known or hereinafter developed. Company owns all Proprietary Material, as well as the coordination, selection, arrangement and enhancement of such Proprietary Materials as a Collective Work under the United States Copyright Act, as amended. The Proprietary Material is protected by the domestic and international laws of copyright, patents, and other proprietary rights and laws. Users may not copy, download, use, redesign, reconfigure, or retransmit anything from the RabbleHome Platform without Company's express prior written consent and, if applicable, the holder of the rights to the User Generated Content. Any use of such Proprietary Material, other than as permitted therein, is expressly prohibited without the prior permission of Company and, if applicable, the holder of the rights to the User Generated Content.
  </p>
  <p>The service marks and trademarks of Company, including without limitation Company and Company logos are service marks owned by Company. Any other trademarks, service marks, logos and/or trade names appearing via the RabbleHome Platform are the property of their respective owners. You may not copy or use any of these marks, logos or trade names without the express prior written consent of the owner.
  </p>

</div>
<div class="privacy-content">
  <h5>13. Copyright Complaints and Copyright Agent</h5>
  <p>Company respects the intellectual property of others and expects Users to do the same. If you believe, in good faith, that any materials provided on or in connection with the RabbleHome Platform infringe upon your copyright or other intellectual property right, please send the following information to Company's Copyright Agent at: MME Services Corporation, 207 W Hickory St, Denton, TX 76201 or Info@RabbleHome.com:
  </p>
  <ul>
    <li>
      <p>
        A description of the copyrighted work that you claim has been infringed, including the URL (Internet address) or other specific location on the RabbleHome Platform where the material you claim is infringed is located. Include enough information to allow Company to locate the material, and explain why you think an infringement has taken place;
      </p>
    </li>
    <li>
      <p>
        A description of the location where the original or an authorized copy of the copyrighted work exists -- for example, the URL (Internet address) where it is posted or the name of the book in which it has been published;
      </p>
    </li>
    <li>
      <p>
        Your address, telephone number, and e-mail address;
      </p>
    </li>
    <li>
      <p>
        A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;
      </p>
    </li>
    <li>
      <p>
        A statement by you, made under penalty of perjury, that the information in your notice is accurate, and that you are the copyright owner or authorized to act on the copyright owner's behalf; and
      </p>
    </li>
    <li>
      <p>
        An electronic or physical signature of the owner of the copyright or the person authorized to act on behalf of the owner of the copyright interest.
      </p>
    </li>
  </ul>
</div>
<div class="privacy-content">
  <h5>14. Confidential Information</h5>
  <p>You acknowledge that Confidential Information (as defined below) is a valuable, special and unique asset of Company and agree that you will not disclose, transfer, use (or seek to induce others to disclose, transfer or use) any Confidential Information for any purpose other than disclosure to your authorized employees and agents who are bound to maintain the confidentiality of Confidential Information. You shall promptly notify Company in writing of any circumstances which may constitute unauthorized disclosure, transfer, or use of Confidential Information. You shall use best efforts to protect Confidential Information from unauthorized disclosure, transfer or use. You shall return all originals and any copies of any and all materials containing Confidential Information to Company upon termination of this Agreement for any reason whatsoever.
  </p>
  <p>The term “Confidential Information” shall mean any and all of Company’s trade secrets, confidential and proprietary information and all other information and data of Company that is not generally known to the public or other third parties who could derive value, economic or otherwise, from its use or disclosure. Confidential Information shall be deemed to include technical, financial, strategic and other proprietary and confidential information relating to Company’s business, operations and properties, including information about Company’s Users or partners, or other business information disclosed directly or indirectly in writing, orally or by drawings or observation.
  </p>
</div>
<div class="privacy-content">
  <h5>15. Disclaimer of Warranties</h5>
  <p>USE OF THE SERVICE IS ENTIRELY AT YOUR OWN RISK.</p>
  <p>THE RABBLEHOME PLATFORM IS PROVIDED ON AN “AS IS” BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. COMPANY MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE CONTENT PROVIDED THROUGH THE RABBLEHOME PLATFORM OR THE CONTENT OF ANY SITES LINKED TO THE RABBLEHOME PLATFORM AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE RABBLEHOME PLATFORM, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN. COMPANY DOES NOT WARRANT, ENDORSE, GUARANTEE OR ASSUME RESPONSIBILITY FOR ANY SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE RABBLEHOME PLATFORM OR ANY HYPERLINKED WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING AND COMPANY WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES, OTHER THAN AS PROVIDED HEREIN. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE. WITHOUT LIMITING THE FOREGOING, NEITHER COMPANY NOR ITS AFFILIATES OR LICENSORS WARRANT THAT ACCESS TO THE RABBLEHOME PLATFORM WILL BE UNINTERRUPTED OR THAT THE RABBLEHOME PLATFORM WILL BE ERROR-FREE; NOR DO THEY MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE RABBLEHOME PLATFORM, OR AS TO THE TIMELINESS, ACCURACY, RELIABILITY, COMPLETENESS OR CONTENT OF ANY SERVICE OR SERVICE, INFORMATION OR MATERIALS PROVIDED THROUGH OR IN CONNECTION WITH THE USE OF THE RABBLEHOME PLATFORM. NEITHER COMPANY NOR ITS AFFILIATES OR LICENSORS IS RESPONSIBLE FOR THE CONDUCT, WHETHER ONLINE OR OFFLINE, OF ANY USER. NEITHER COMPANY NOR ITS AFFILIATES OR LICENSORS WARRANT THAT THE RABBLEHOME PLATFORM IS FREE FROM VIRUSES, WORMS, TROJAN HORSES, OR OTHER HARMFUL COMPONENTS. COMPANY AND ITS AFFILIATES AND LICENSORS CANNOT AND DO NOT GUARANTEE THAT ANY PERSONAL INFORMATION SUPPLIED BY YOU WILL NOT BE MISAPPROPRIATED, INTERCEPTED, DELETED, DESTROYED OR USED BY OTHERS.</p>
  <p>IN ADDITION, NOTWITHSTANDING ANY FEATURE A CLIENT MAY USE TO EXPEDITE RABBLEHOME SELECTION, EACH CLIENT IS RESPONSIBLE FOR DETERMINING THE SERVICE AND SELECTING THEIR SERVICE PROVIDER AND COMPANY DOES NOT WARRANT ANY GOODS OR SERVICES PURCHASED BY A CLIENT AND DOES NOT RECOMMEND ANY PARTICULAR SERVICE PROVIDER. COMPANY DOES NOT PROVIDE ANY WARRANTIES OR GUARANTEES REGARDING ANY SERVICE PROVIDER’S PROFESSIONAL ACCREDITATION, REGISTRATION OR LICENSE.
  </p>
</div>
<div class="privacy-content">
  <h5>16. No Liability</h5>
  <p>YOU ACKNOWLEDGE AND AGREE THAT COMPANY IS ONLY WILLING TO PROVIDE THE RABBLEHOME PLATFORM IF YOU AGREE TO CERTAIN LIMITATIONS OF OUR LIABILITY TO YOU AND THIRD PARTIES. THEREFORE, YOU AGREE NOT TO HOLD COMPANY, ITS AFFILIATES, ITS LICENSORS, ITS PARTNERS IN PROMOTIONS, SWEEPSTAKES OR CONTESTS, OR ANY OF SUCH PARTIES’ AGENTS, EMPLOYEES, OFFICERS, DIRECTORS, CORPORATE PARTNERS, OR PARTICIPANTS LIABLE FOR ANY DAMAGE, SUITS, CLAIMS, AND/OR CONTROVERSIES (COLLECTIVELY, “LIABILITIES”) THAT HAVE ARISEN OR MAY ARISE, WHETHER KNOWN OR UNKNOWN, RELATING TO YOUR OR ANY OTHER PARTY’S USE OF OR INABILITY TO USE THE RABBLEHOME PLATFORM, INCLUDING WITHOUT LIMITATION ANY LIABILITIES ARISING IN CONNECTION WITH THE CONDUCT, ACT OR OMISSION OF ANY USER (INCLUDING WITHOUT LIMITATION STALKING, HARASSMENT THAT IS SEXUAL OR OTHERWISE, ACTS OF PHYSICAL VIOLENCE, AND DESTRUCTION OF PERSONAL PROPERTY), ANY DISPUTE WITH ANY USER, ANY INSTRUCTION, ADVICE, ACT, OR SERVICE PROVIDED BY COMPANY OR ITS AFFILIATES OR LICENSORS AND ANY DESTRUCTION OF YOUR INFORMATION, OTHER THAN PURSUANT TO THE SATISFACTION GUARANTEE.
  </p>
  <p>UNDER NO CIRCUMSTANCES WILL COMPANY, ITS AFFILIATES, ITS LICENSORS, OR ANY OF SUCH PARTIES’ AGENTS, EMPLOYEES, OFFICERS, DIRECTORS, CORPORATE PARTNERS, OR PARTICIPANTS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR EXEMPLARY DAMAGES ARISING IN CONNECTION WITH YOUR USE OF OR INABILITY TO USE THE RABBLEHOME PLATFORM OR THE SERVICE SERVICES, EVEN IF ADVISED OF THE POSSIBILITY OF THE SAME. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
  </p>
  <p>COMPANY DOES NOT ACCEPT ANY LIABILITY WITH RESPECT TO THE QUALITY OR FITNESS OF ANY WORK PERFORMED VIA THE RABBLEHOME PLATFORM.</p>
  <p>IF, NOTWITHSTANDING THE FOREGOING EXCLUSIONS, IT IS DETERMINED THAT COMPANY OR ITS PARTNERS IN PROMOTIONS, SWEEPSTAKES OR CONTESTS, AFFILIATES, ITS LICENSORS, OR ANY OF SUCH PARTIES’ AGENTS, EMPLOYEES, OFFICERS, DIRECTORS, CORPORATE PARTNERS, OR PARTICIPANTS IS LIABLE FOR DAMAGES IN EXCESS OF THE SATISFACTION GUARANTEE, IN NO EVENT WILL THE AGGREGATE LIABILITY, WHETHER ARISING IN CONTRACT, TORT, STRICT LIABILITY OR OTHERWISE, EXCEED THE TOTAL FEES PAID BY YOU TO COMPANY DURING THE SIX (6) MONTHS PRIOR TO THE TIME SUCH CLAIM AROSE.
  </p>
</div>
<div class="privacy-content">
  <h5>17. Indemnification</h5>
  <p>You hereby agree to indemnify, defend, and hold harmless Company, its directors, officers, employees, agents, licensors, attorneys, independent contractors, providers, successors and assigns, subsidiaries, and affiliates from and against any and all claim, loss, expense or demand of liability, including attorneys' fees and costs incurred, in connection with (i) your use or inability to use the RabbleHome Platform or Service Services, or (ii) your breach or violation of this Agreement; (iii) your violation of any law the rights of any User or third party (iv) any content submitted by you or using your account to the RabbleHome Platform, including, but not limited to the extent such content may infringe on the intellectual rights of a third party or otherwise be illegal or unlawful. Company reserves the right, at its own expense, to assume the exclusive defense and control of any matter otherwise subject to your indemnification. You will not, in any event, settle any claim or matter without the written consent of Company.
  </p>
</div>
<div class="privacy-content">
  <h5>18. Dispute Resolution – Arbitration</h5>
  <ol type="a">
    <li>
      <h6>Informal Negotiations.</h6>
      <p>To expedite resolution and reduce the cost of any dispute, controversy or claim between you and Company (each a “Claim” and collectively “Claims”), you and Company agree to first attempt to negotiate any Claim (except those Claims expressly excluded below) informally for at least thirty (30) days before initiating any arbitration or court proceeding. Such informal negotiations will commence upon written notice. Your address for such notices is your billing address, with an email copy to the email address you have provided to Company. Company’s address for such notices is RabbleHome, 207 W Hickory St, Denton, TX 76201. If necessary to preserve a Claim under any applicable statute of limitations, you or Company may initiate arbitration while engaging in the informal negotiations.
  </p>
    </li>
    <li>
      <h6>Binding Arbitration.</h6>
      <p>YOU AND COMPANY MUTUALLY AGREE TO WAIVE YOUR RESPECTIVE RIGHTS TO RESOLUTION OF ALL CLAIMS BETWEEN YOU (EXCEPT THOSE EXPRESSLY EXCLUDED BELOW) IN A COURT OF LAW BY A JUDGE OR JURY AND AGREE TO RESOLVE ANY DISPUTES BY BINDING ARBITRATION ON AN INDIVIDUAL BASIS AS SET FORTH HEREIN.
      </p>
      <p>
        This agreement to arbitrate, contained in Section 20, (“Arbitration Agreement”), is governed by the Federal Arbitration Act and survives the termination of this Agreement or your relationship with Company. Claims include, but are not limited to, any dispute, claim or controversy whether based on past, present or future events arising out of or relating to: this Agreement and prior versions (including the breach, termination, enforcement, interpretation or validity thereof), the RabbleHome Platform, services, Services, your relationship with Company, the threatened or actual suspension, deactivation or termination of your User Account or this Agreement, payments made by you or any payments made or allegedly owed to you, any city, county, state or federal wage-hour law, compensation, breaks and rests periods, expense reimbursement, wrongful termination, discrimination, harassment, retaliation, fraud, defamation, trade secrets, unfair competition, emotional distress, any promotions, offers made by Company, breach of any express or implied contract or breach of any express or implied contract or covenant, claims arising under federal or state consumer protection laws; claims arising under antitrust laws, claims arising under the Telephone Consumer Protection Act and Fair Credit Reporting Act; and claims arising under the Fair Labor Standards Act, Civil Rights Act of 1964, Uniform Trade Secrets Act, Americans With Disabilities Act, Age Discrimination in Employment Act, Older Workers Benefit Protection Act, Family Medical Leave Act, Employee Retirement Income Security Act (except for individual claims for employee benefits under any benefit plan sponsored by Company and covered by the Employee Retirement Income Security Act of 1974 or funded by insurance), and state statutes, if any, addressing the same or similar subject matters, and all other federal and state statutory and common law claims. All disputes concerning the arbitrability of a Claim (including Claims about the scope, applicability, enforceability, revocability or validity of the Arbitration Agreement) shall be decided by the arbitrator, except as expressly provided below.
      </p>
      <p>
        YOU ACKNOWLEDGE AND UNDERSTAND THAT YOU AND COMPANY ARE WAIVING THE RIGHT TO SUE IN COURT OR HAVE A JURY TRIAL FOR ALL CLAIMS, EXCEPT AS EXPRESSLY OTHERWISE PROVIDED IN THIS ARBITRATION AGREEMENT. THIS ARBITRATION AGREEMENT IS INTENDED TO REQUIRE ARBITRATION OF EVERY CLAIM OR DISPUTE THAT CAN LAWFULLY BE ARBITRATED EXCEPT THOSE CLAIMS AND DISPUTES WHICH BY TERMS OF THIS ARBITRATION AGREEMENT ARE EXPRESSLY EXCLUDED FROM THE REQUIREMENT TO ARBITRATE.
      </p>
    </li>
    <li>
      <h6>Agreement Prohibiting Class Actions and Non-Individualized Relief.</h6>
      <p>You and Company agree that any arbitration will be limited to the Claim between Company and you individually. YOU ACKNOWLEDGE AND AGREE THAT YOU AND COMPANY ARE EACH WAIVING THE RIGHT TO PARTICIPATE AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS ACTION OR REPRESENTATIVE PROCEEDING (“CLASS ACTION WAIVER”). Further, unless both you and Company otherwise agree, the arbitrator may not consolidate more than one person’s claims, and may not otherwise preside over any form of any class or representative proceeding. Notwithstanding the foregoing, this Class Action Waiver shall not apply to Private Attorney General Act Claims brought against Company, which are addressed separately in Section 20 (d) below. The arbitrator shall have no authority to consider or resolve any Claim or issue any relief on any basis other than an individual basis. The arbitrator shall have no authority to consider or resolve any Claim or issue any relief on a class, collective, or representative basis.</p>
      <p>
        Notwithstanding any other provision of this Agreement, the Arbitration Agreement or the AAA Rules (as defined below), disputes regarding the scope, applicability, enforceability, revocability or validity of the Class Action Waiver may be resolved only by a civil court of competent jurisdiction and not by an arbitrator. In any case in which: (1) the Claim is filed as a class, collective, or representative action and (2) there is a final judicial determination that the Class Action Waiver is unenforceable as to any Claims, the class, collective, and/or representative action on such Claims must be litigated in a civil court of competent jurisdiction, but the Class Action Waiver shall be enforced in arbitration on an individual basis as to all other Claims to the fullest extent possible.
      </p>
    </li>
    <li>
      <h6>Representative PAGA Waiver</h6>
      <p>Notwithstanding any other provision of this Agreement or the Arbitration Agreement, to the fullest extent allowed by law: (1) you and Company agree not to bring a representative action on behalf of others under the California Private Attorneys General Act of 2004 (“PAGA”), California Labor Code § 2698 et seq., in any court or in arbitration, and (2) for any claim brought on a private attorney general basis, including under PAGA, both you and Company agree that any such Claim will be resolved in arbitration on an individual basis only (that is, to resolve whether you have personally been aggrieved or subject to any violations of law), and that such an action may not be used to resolve the claims or rights of other individuals in a single or collective proceeding (i.e., to resolve whether other individuals have been aggrieved or subject to any violations of law) (collectively, “representative PAGA Waiver”). Notwithstanding any other provision of this Agreement, the Arbitration Agreement or the AAA Rules, disputes regarding the scope, applicability, enforceability, revocability or validity of this representative PAGA Waiver may be resolved only by a civil court of competent jurisdiction and not by an arbitrator. If any provision of this representative PAGA Waiver is found to be unenforceable or unlawful for any reason: (i) the unenforceable provision shall be severed from this Agreement; (ii) severance of the unenforceable provision shall have no impact whatsoever on the Arbitration Agreement or the requirement that any remaining Claims be arbitrated on an individual basis pursuant to the Arbitration Agreement; and (iii) any such representative PAGA Waiver or other representative private attorneys general act claims must be litigated in a civil court of competent jurisdiction and not in arbitration. To the extent that there are any Claims to be litigated in a civil court of competent jurisdiction because a civil court of competent jurisdiction determines that the representative PAGA Waiver is unenforceable with respect to those Claims, the parties agree that litigation of those Claims shall be stayed pending the outcome of any individual Claims in arbitration.</p>
    </li>
    <li>
      <h6>Rules and Logistics Governing Arbitration</h6>
      <p>The arbitration will be commenced and conducted under the Commercial Arbitration Rules (the “AAA Rules”) of the American Arbitration Association (“AAA”) in effect at the time the arbitration is initiated and modified by the terms set forth in this Agreement and, where appropriate, the AAA’s Supplementary Procedures for Consumer Related Disputes (“AAA Consumer Rules”), both of which are available at the AAA website www.adr.org or by calling the AAA at 1-800-778-7879. Notwithstanding the foregoing, if requested by you and if proper based on the facts and circumstances of the Claims presented, the arbitrator shall have the discretion to select a different set of AAA Rules, but in no event shall the arbitrator consolidate more than one person’s Claims, or otherwise preside over any form of representative, collective, or class proceeding.</p>
      <p>As part of the arbitration, both you and Company will have the opportunity for reasonable discovery of non-privileged information that is relevant to the Claim(s). The arbitrator may award any individualized remedies that would be available in court. The arbitrator may award declaratory or injunctive relief only in favor of the individual party seeking relief and only to the extent necessary to provide relief warranted by that party's individual claims. The arbitrator will provide a reasoned written statement of the arbitrator’s decision, which shall explain the award given and the findings and conclusions on which the decision is based.
      </p>
      <p>
        The arbitrator will decide the substance of all Claims in accordance with applicable law, and will honor all claims of privilege recognized by law. The arbitrator shall not be bound by rulings in prior arbitrations involving different Service providers or Clients, but is bound by rulings in prior arbitrations involving the same Service provider or Client to the extent required by applicable law. The arbitrator’s award shall be final and binding and judgment on the award rendered by the arbitrator may be entered in any court having jurisdiction thereof, provided that any award may be challenged in a court of competent jurisdiction in accordance with the Federal Arbitration Act.
      </p>
      <p>
        Your arbitration fees and your share of arbitrator compensation will be governed by the AAA Rules (and, where appropriate, limited by the AAA Consumer Rules) subject to the following modifications:
      </p>
      <ol type="i">
        <li>
            <p>If Company initiates arbitration under this Arbitration Agreement, Company will pay all AAA filing and arbitration fees. If a Client or Service provider, however, files a Claim in accordance with this Arbitration Agreement and the associated claim for damages does not exceed USD 10,000, Company will pay all such fees unless the arbitrator finds that either the substance of your claim or the relief sought in your Demand for Arbitration was frivolous or was brought for an improper purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b));</p>
        </li>
        <li> 
            <p>For Claims that (A) are based on an alleged employment relationship between Company and the Service provider; (B) arise out of, or relate to, Company’s actual or threatened deactivation of a Service provider’s User account; (C) arise out of, or relate to Company’s actual or threatened termination of a Service provider’s Agreement with Company; or (D) arise out of, or relate to, monies earned or paid for Service services (as defined above, including the service charge or Trust and Support Fee), tips, bonuses or monies owed by Clients or Company to a Service provider, other than disputes relating to referral bonuses, other Company sponsored promotions, or consumer-type disputes (the subset of Claims in subsections (A)-(D) shall be collectively referred to as “Service provider Claims”), Company shall pay all costs unique to arbitration (as compared to the costs of adjudicating the same claims before a court), including the regular and customary arbitration fees and expenses (to the extent not paid by Company pursuant to the fee provisions above). However, if you are the party initiating the Service provider Claim, you shall be responsible for contributing up to an amount equal to the filing fee that would be paid to initiate the claim in the court of general jurisdiction in the state in which you provide Services to Clients, unless a lower fee amount would be owed by you pursuant to the AAA Rules, applicable law, or subsection 20(e)(1) above. Any dispute as to whether a cost is unique to arbitration shall be resolved by the arbitrator.</p>
        </li>
        <li>
            <p>Except as provided in Federal Rule of Civil Procedure 68 or any state equivalents, each party shall pay its own attorneys’ fees and pay any costs that are not unique to the arbitration (i.e., costs that each party would incur if the Claim(s) were litigated in a court, such as costs to subpoena witnesses and/or documents, take depositions and purchase deposition transcripts, copy documents, etc.). (iv) At the conclusion of any arbitration, the arbitrator may award reasonable fees and costs or any portion thereof to you if you prevail, to the extent authorized by applicable law.</p>
        </li>
      </ol>
      <p>
        Unless you and Company agree otherwise, any arbitration hearings between Company and a Service provider will take place in the county of your billing address, and any arbitration hearings between Company and a Client will take place in the county in which you received Service services. If AAA arbitration is unavailable in your county, the arbitration hearings will take place in the nearest available location for a AAA arbitration.
      </p>
    </li>
    <li>
      <h6>Exceptions to Arbitration</h6>
      <p>The following types of Claims are not required to be arbitrated under the Arbitration Agreement:</p>
      <ul>
        <li>
          Claims for workers’ compensation, disability insurance and unemployment insurance benefits;
        </li>
        <li>
          Small claims actions that are within the scope of small claims court jurisdiction and brought on an individual basis;
        </li>
        <li>
          A representative action brought on behalf of others under PAGA or other private attorney general acts, to the extent the representative PAGA Waiver in Section 20(d) is deemed unenforceable by a court of competent jurisdiction; and
        </li>
        <li>
          Claims that may not be subject to arbitration as a matter of law.
        </li>
      </ul>
      <p>
        Nothing in this Arbitration Agreement prevents you from making a report to or filing a claim or charge with the Equal Employment Opportunity Commission, U.S. Department of Labor, Securities Exchange Commission, National Labor Relations Board, or Office of Federal Contract Compliance Programs, or similar local, state or federal agency, and nothing in this Arbitration Agreement shall be deemed to preclude or excuse a party from bringing an administrative claim before any agency in order to fulfill the party's obligation to exhaust administrative remedies before making a claim in arbitration. However, you knowingly and voluntarily waive the right to seek or recover money damages of any type pursuant to any administrative complaint and instead may seek such relief only through arbitration under this Agreement. This Agreement and Arbitration Agreement do not prevent you from participating in an investigation by a government agency of any report, claim or charge otherwise covered by this Arbitration Provision and do not prevent you from receiving an award for information provided to any government agencies.
      </p>
    </li>
    <li>
      <h6>Severability</h6>
      <p>
        In addition to the severability provisions in Section 20(d) above, in the event that any portion of this Arbitration Agreement is deemed illegal or unenforceable, such provision shall be severed and the remainder of the Arbitration Agreement shall be given full force and effect.
      </p>
    </li>
    <li>
      <h6>Right to Opt Out of Arbitration Agreement</h6>
      <p>You may opt out of the Arbitration Agreement by notifying Company in writing within thirty (30) days of the date you first registered for the RabbleHome Platform or thirty (30) days from the date this Agreement was last updated. To opt out, you must send a written notification to Company at RabbleHome, 207 W Hickory St, Denton, TX 76201, that includes (a) your account username, (b) your name, (c) your address, (d) your telephone number, (e) your email address, and (f) a clear statement indicating that you do not wish to resolve claims through arbitration and demonstrating compliance with the 30-day time limit to opt out of the above arbitration and class action/jury trial waiver provisions.
      </p>
    </li>
  </ol>
</div>
<div class="privacy-content">
  <h5>19. Governing Law</h5>
  <p>Except as provided in Section 20 or expressly provided otherwise, this Agreement will be governed by, and will be construed under, the laws of the State of Texas, without regard to choice of law principles.
  </p>
</div>
<div class="privacy-content">
  <h5>20. Special Promotions</h5>
  <p>Company may from time to time provide certain promotional opportunities, sweepstakes and contests to Users. All such promotions will be run at the sole discretion of Company, and can be activated, modified or removed at any time by Company without advance notification and the liability of any of Company’s partners pursuant to such promotional opportunities, sweepstakes and contests shall be limited pursuant to Section 18 of these Terms of Service, including but not limited to Section 18 of these Terms of Service.
  </p>
</div>
<div class="privacy-content">
  <h5>21. No Agency</h5>
  <p>No agency, partnership, joint venture, employer-employee or franchiser-franchisee relationship is intended or created by this Agreement.</p>
</div>
<div class="privacy-content">
  <h5>22. General Provisions</h5>
  <p>Failure by Company to enforce any provision(s) of this Agreement will not be construed as a waiver of any provision or right. This Agreement constitutes the entire agreement between you and Company with respect to its subject matter. If any provision of this Agreement is found to be invalid or unenforceable, the remaining provisions will be enforced to the fullest extent possible, and the remaining provisions will remain in full force and effect. This Agreement may not be assigned or transferred by you without our prior written approval. We may assign or transfer this Agreement without your consent, including but not limited to assignments: (i) to a parent or subsidiary, (ii) to an acquirer of assets, or (iii) to any other successor or acquirer. Any assignment in violation of this section shall be null and void. This Agreement will inure to the benefit of Company, its successors and assigns.
  </p>
</div>
<div class="privacy-content">
  <h5>23. Licensed Professionals</h5>
  <p>RabbleHome does not oversee, monitor or supervise the posting, scoping or performance of services. Accordingly, Clients must determine for themselves whether a Service provider is qualified to perform the specific Service at hand. Clients may wish to consult their state or local requirements to determine whether certain Services are required to be performed by a licensed professional. In certain cities, Clients can now find licensed professionals who carry the necessary state- or local-level license to perform such Services (“Licensed Service providers”) on the RabbleHome Platform. Licensed Service providers will be explicitly identified as licensed professionals and only Service providers with such designation have been verified by RabbleHome to have a license. You can read more about which cities have Licensed Service providers, how RabbleHome vets Licensed Service providers and helpful tips on hiring Licensed Service providers by checking out the Client Support Center Article on Licensed Service providers which is incorporated by reference into these Terms of Service.</p>
</div>
<div class="privacy-content">
  <h5>24. Changes to this Agreement and the RabbleHome Platform</h5>
  <p>Company reserves the right, at its sole and absolute discretion, to change, modify, add to, supplement or delete any of the terms and conditions of this Agreement (including the Privacy Policy) and review, improve, modify or discontinue, temporarily or permanently, the RabbleHome Platform or any content or information through the RabbleHome Platform at any time, effective with or without prior notice and without any liability to Company. Company will endeavor to notify you of material changes by email, but will not be liable for any failure to do so. If any future changes to this Agreement are unacceptable to you or cause you to no longer be in compliance with this Agreement, you must terminate, and immediately stop using, the RabbleHome Platform. Your continued use of the RabbleHome Platform following any revision to this Agreement constitutes your complete and irrevocable acceptance of any and all such changes. Company may change, modify, suspend, or discontinue any aspect of the RabbleHome Platform at any time without notice or liability. Company may also impose limits on certain features or restrict your access to parts or all of the RabbleHome Platform without notice or liability.</p>
  <p>I HEREBY ACKNOWLEDGE THAT I HAVE READ AND UNDERSTAND THE FOREGOING TERMS OF SERVICE AND PRIVACY POLICY AND AGREE THAT MY USE OF THE RABBLEHOME PLATFORM IS AN ACKNOWLEDGMENT OF MY AGREEMENT TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT.
  </p>
  <p>Taxes. Payments required by these Terms may be stated exclusive of all taxes, duties, levies, imposts, fines or similar governmental assessments, including sales and use taxes, value-added taxes, goods and services taxes, excise, business, service, and similar transactional taxes imposed by any jurisdiction and the interest and penalties thereon (collectively, “Taxes”). Certain jurisdictions, however, may require us to collect Taxes from you in connection with the purchase of, payment for, access to, or use of the Pro Services, and you shall be responsible for and bear Taxes associated with the purchase of, payment for, access to, or use of the Pro Services. Charges are inclusive of applicable Taxes where required by law. You hereby confirm that RabbleHome can determine your appropriate jurisdiction for tax purposes however it deems appropriate or as required by law, and you agree to pay taxes to RabbleHome when RabbleHome includes a charge for taxes on any invoice. You also understand and agree that you are solely responsible for determining your own tax reporting and sales and use tax collection requirements in consultation with your own tax advisers, and that we cannot and do not offer specific tax advice to either Service Members or Customer Members.
  </p>

  <h6 class="font-weight-bold">RabbleHome Review Policy:</h6>
  <p>Customers are encouraged to submit reviews pertaining to the experience provided by a specific vendor.  Reviews will not be accepted from individuals who did not receive service from the vendor for which the review is submitted.</p>
  <p>RabbleHome reserves the right to remove and post reviews at its sole discretion.  Reviews violating RabbleHome’s Terms of Service or Review Guidelines will be immediately removed.</p>

  <h6 class="font-weight-bold">Review Guidelines:</h6>
  <ul>
    <li>
      <p>
        <span class="h6">Inappropriate content: </span>: Bad language or explicit imagery, threats, harassment, lewdness, hate speech, and other displays of bigotry.
      </p>
    </li>
    <li>
      <p>
        <span class="h6">Conflicts of interest: </span>you shouldn’t write reviews of your competitors in your industry.
      </p>
    </li>
    <li>
      <p>
        <span class="h6">Promotional content:</span>We generally frown upon promotional content. Let's keep the site useful for consumers and not overrun with commercial noise from every user.
      </p>
    </li>
    <li>
      <p>
        <span class="h6">Relevance: </span>Please make sure your contributions are relevant and appropriate to the forum. 
      </p>
    </li>
    <li>
      <p>
        <span class="h6">Privacy: </span>Don’t publicize other people’s private information. 
      </p>
    </li>
    
  </ul>

  <h6 class="font-weight-bold">Negative Reviews:</h6>
  <p>Vendors have the opportunity to submit a negative review (3 stars or below) to RabbleHome’s review mediation team. If the RabbleHome mediation team finds the vendor at fault, the vendor will have the opportunity to cure the reasons for the negative review. If the review cannot be remedied between the vendor and party host, the review will be posted and the vendor will go under review to determine if termination from the RabbleHome platform is warranted. If the RabbleHome mediation team finds the reviewer at fault or if the reviewer is being unreasonable, RabbleHome reserves the right to not post the review or to remove the user from the platform. </p>

  </div>
</div>
{% endblock %}
