{% extends 'base_with_nav.html.twig' %}

{% block body %}
<div class="container">

    <p>
        Your are not authorized to access to this area, Please <a href="{{ path('app_home') }}">return to the homepage</a>.
    </p>
</div>
{% endblock %}
